.forms{
    margin-left: 4rem;
    margin-top:  3rem;
    width: 90%;
    &_heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
                font-size: 1.6rem;
                color: $color-heading-text;
                font-weight: 600;
        }
        &_btnWtrap{

        }
    }

    &__formArea{
        margin-top: 6rem;
    }
    &__allform{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
    
        &--items{
            cursor: pointer;
            border: 0.1rem solid #797878;
            background: #797878;
            padding: 1.2rem;
            border-radius: 0.4rem;
            h2{
                font-size: 1.6rem;
                color: $color-heading-text;
                font-weight: 600;
                text-transform:uppercase;
            }
        }
    }
}