.createFormModal {
    &__topheading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        h2 {
            font-size: 1.6rem;
            color: $color-heading-text;
            font-weight: 600;
        }
    }
    &__formSection {
        display: flex;
        justify-content: space-between;
        &__left {
            border-right: 0.1rem solid $color-heading-text;
            opacity: 0.5;
            width: 45%;
            &--heading {
                h3 {
                    font-size: 1.4rem;
                    color: $color-section-text;
                    font-weight: 500;
                }
            }


            &--btnWrapper {
                margin-top: 2rem;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                .Selectbtn{
                    text-transform: capitalize;
                    &:hover{
                        color: $color-heading-text;
                        background-color: $color-green;
                    }
                }
                .active{
                    color: $color-heading-text;
                    background-color: $color-green; 
                }
            }
        }

        &__right {
            width: 55%;

        }
    }
}

.group {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2.4rem;
}
input {
    font-size: 1.6rem;
    padding: 1rem;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: transparent;
    color: $color-heading-text;
    width: 90%;
    position: relative;
}
input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: $color-label-text;
    font-size: 1.4rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
    top: -1rem;
    font-size: 1.4rem;
    color: $color-green;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}
.bar:before,
.bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: $color-green;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: $color-green;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: $color-green;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: $color-green;
    }
    to {
        width: 0;
        background: transparent;
    }
}