.formPreview {
    margin-left: 2rem;
    &__heading {
        margin-bottom: 2rem;

        h3 {
            display: flex;
            justify-content: center;
            font-size: 1.4rem;
            color: $color-section-text;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    &__field {
        margin: 1rem 0;
        display: flex;
        position: relative;
        .textArea-main{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            margin-top: 2rem;
        }
        .textArea-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-size: 1.5rem;
                color: $color-heading-text;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }
   
    .textInputMain {
        display: flex;
        flex-direction: column;
        width: 100%;
        &__remove {
            display: flex;
            justify-content: flex-end;
        }
    }
    &__textArea {
        background: transparent;
        border-radius: 0.4rem;
        outline: none;
        text-transform: capitalize;
        color: $color-label-text;
        padding: 0.8rem;
    }

    h3 {
        font-size: 1.5rem;
        color: $color-heading-text;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    h4 {
        font-size: 1.4rem;
        color: $color-label-text;
        font-weight: 500;
        text-transform: capitalize;
    }

    .checkboxWrap {
        width: 100%;
        &__heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__checkboxgroup{
            display: flex;
            align-items: flex-start;
            gap: 4rem;
            flex-wrap: wrap;
            margin-top: 1rem;
            &__label{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                justify-content: flex-start;
                cursor: pointer;
                margin-top: 1rem;
                position: relative;
                top: initial;
                left: initial;
                input[type="checkbox"] {
                    display: flex;
                }
            }
        }
    }

  

  

   

    .radioButton {
        width: 100%;
        &__heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3 {
                font-size: 1.5rem;
                color: $color-heading-text;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom: 1rem;
            }
        }
        &__main {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: center;
            &__buttons {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 2rem;
                margin-bottom: 2rem;
                .button {
                    height: 1.8rem;
                    width: 1.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    border: 0.1rem solid #17a472;
                    cursor: pointer;
                }
                .selectedButton {
                    // background: $color-green;
                    // border: 1rem solid $color-green;
                    background-color: #17a472;
                    height: 1.8rem;
                    width: 1.8rem;
                    border-radius: 100%;
                }
                .value {
                    font-size: 1.4rem;
                    color: $color-label-text;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }
    }

    .dropdown {
        position: relative;
        cursor: pointer;
        margin-top: 1rem;
        width: 100%;
        &__main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
        &__heading {
            display: flex;
            border-radius: 0.4rem;
            border: 0.1rem solid $color-heading-text;
            width: 20rem;
            padding: 0.8rem;
            h4 {
                font-size: 1.4rem;
                color: $color-section-text;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
        &__list {
            width: 20rem;
            border-radius: 0.4rem;
            border: 0.1rem solid #777575;
            border-top: none;
            margin-top: -1rem;
            p {
                font-size: 1.4rem;
                color: $color-label-text;
                font-weight: 500;
                text-transform: capitalize;
                display: flex;
                justify-content: flex-start;
                margin-top: 1rem;
                padding: 1rem;
            }
        }
    }

    &__btn{
        margin-top: 3rem;
    }
}
