.selectedElementForm{
    margin-top: 2.4rem;
    h3{
        font-size: 1.4rem;
        color: $color-section-text;
        font-weight: 600;
    }
    &__radio{
        display: flex;
        align-items: center;
        gap: 2rem;
        h4{
            font-size: 1.4rem;
            color: $color-label-text;
            font-weight: 400;
        }
    }
    &__button{
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        margin-top: 2.4rem;
    }
}